.sidebar{
    background-color: bisque;
    width: 14%;
    height: 100%;
    position: absolute;
}

ul{
    padding-inline: 1vw;
    margin: 0px;

    li{
        list-style: none;
        margin: 0.4vw 0vw;

        a{
            display: block;
            border-radius: 50vw;
            cursor: pointer;
            padding: 1vw 2vw 1vw 1vw;
        }

        a:hover{
            background-color: rgb(255, 248, 239);
        }
    }
}