.sidebar{
    background-color: bisque;
    width: 16%;
    height: 100%;
    position: absolute;
}

ul{
    margin: 0px;
    padding-left: 0.4vw;
    padding-right: 0.2vw;

    li{
        list-style: none;
        margin: 1vw 0vw;

        a{
            display: block;
            border-radius: 50vw;
            cursor: pointer;
            padding: 1vw 2vw 1vw 1vw;
        }

        a:hover{
            background-color: rgb(255, 248, 239);
        }
    }
}


@media only screen and (max-width: 900px) {
    .sidebar{
        background-color: bisque;
        width: 18%;
        height: 100%;
        position: absolute;
        font-size: 1.6vw;
    }
    
    ul{
        padding-inline: 1vw;
        margin: 0px;
    
        li{
            list-style: none;
            margin: 0.4vw 0vw;
    
            a{
                display: block;
                border-radius: 50vw;
                cursor: pointer;
                padding: 1vw 2vw 1vw 1vw;
            }
    
            a:hover{
                background-color: rgb(255, 248, 239);
            }
        }
    }
}


@media only screen and (max-width: 500px) {
    .sidebar{
        background-color: bisque;
        width: 26%;
        height: 100%;
        position: absolute;
        font-size: 2.2vw;
    }
    
    ul{
        padding-inline: 1vw;
        margin: 0px;
    
        li{
            list-style: none;
            margin: 2.2vw 0vw;
    
            a{
                display: block;
                border-radius: 50vw;
                cursor: pointer;
                padding: 1vw 2vw 1vw 1vw;
            }
    
            a:hover{
                background-color: rgb(255, 248, 239);
            }
        }
    }
}