.sidebar{
    background-color: bisque;
    width: 14%;
    height: 100%;
    position: absolute;
}

ul{
    margin: 0px;

    li{
        cursor: pointer;
        list-style: none;
        margin: 3vw 0vw;
    }
}