.tablebox{
    border-color: rgb(126, 126, 126);
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 0vw 2vw;
    margin-top: 1vw;
    width: 14vw;

    .typeimg{
        position: absolute;
        width: 3vw;
        height: 3vw;
    }

    .statusimg{
        width: 12vw;
        height: 12vw;
    }

    .textbox{
        text-align: start;
        p{
            font-size: 1vw;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.tablebox:hover{
    background-color: rgb(231, 231, 231);
}