<div class="tablebox">
    <h4>โต๊ะหมายเลข {{table.number}}</h4>
    <img src="../../../../assets/tableicon/{{table.type}}.png" class="typeimg" alt="Table NO.{{table.number}}">
    <img src="../../../../assets/tableicon/{{table.status}}.png" class="statusimg" alt="Table NO.{{table.number}}">
    <div class="textbox">
        <div [ngSwitch]="table.status">
            <p *ngSwitchDefault>สถานะโต๊ะ : ว่าง</p>
            <p *ngSwitchCase="'used'">สถานะโต๊ะ : ถูกใช้งาน</p>
            <p *ngSwitchCase="'broken'">สถานะโต๊ะ : ปิดใช้งานชั่วคราว</p>
            <p *ngSwitchCase="'cleaning'">สถานะโต๊ะ : ทำความสะอาด</p>
        </div>
        <div [ngSwitch]="table.type">
            <p *ngSwitchDefault>ลักษณะ : ในร่ม</p>
            <p *ngSwitchCase="'outdoor'">ลักษณะ : กลางแจ้ง</p>
        </div>
    </div>
</div>
