app-alert-food{
    display: none;
    z-index: 5;
    position: fixed;
    animation-name: fade;
    animation-duration: 0.3s;
}

.bodypage{
    display: grid;
    grid-template-columns: 14% auto;

    app-food-type{
        background-color: bisque;
        height: 100%;
    }

    .menuheading{
        display: grid;
        grid-template-columns: 20vw 20vw 20vw;
        justify-content: space-evenly;
        align-items: center;
        

        .headingname{
            text-align: center;
            display: inline-block;
            padding: 0.1vw;
        
            h2{
                font-size: 1.4vw;
            }
        }
        
        .searchbar{
            display: inline-flex;
            background-color: white;
            border-color: black;
            border-radius: 50vw;
            padding: 0.4vw 0.8vw;
            align-items: center;
            height: 2vw;
            justify-content: center;
            width: 16vw;            

            input{
                border-color: black;
                border-radius: 6px;
                height: 1.2vw;
                width: 14vw;
                font-size: 1vw;
            }
            button{
                cursor: pointer;
                border-color: black;
                border-radius: 6px;
                height: 1.6vw;
                width: 2vw;
            }
            button:hover{
                background-color: rgb(201, 201, 201);
            }
        }
    }
    
    .menubody{
        display: none;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }

    .loading{
        text-align: center;
        display: block;
        
        .loader{
            margin: 3vw auto;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
    }
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}