app-alert-food{
    display: none;
    z-index: 5;
    position: fixed;
    animation-name: fade;
    animation-duration: 0.3s;
}

.bodypage{
    display: grid;
    grid-template-columns: 14% auto;

    app-food-type{
        background-color: bisque;
        height: 100%;
    }

    .menuheading{
        padding: 0.1vw;
        text-align: center;
    
        h2{
            font-size: 1.4vw;
        }
    }
    
    .menubody{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}