<app-alert-food [food]="foodalert" (closealert)="closeAlert();"></app-alert-food>
<app-top-bar></app-top-bar>

<div class="bodypage">
    <app-food-type (typechange)="changeFoodType($event);"></app-food-type>
    <div class="menu">
        <div class="menuheading">
            <div></div>
            <div class="headingname" [ngSwitch]="foodtype">
                <h2 *ngSwitchDefault>อาหารจานหลัก</h2>
                <h2 *ngSwitchCase="'all'">อาหารทั้งหมด</h2>
                <h2 *ngSwitchCase="'appetizer'">อาหารทานเล่น</h2>
                <h2 *ngSwitchCase="'dessertanddrink'">ของหวานและเครื่องดื่ม</h2>
                <h2 *ngSwitchCase="'any'">อื่นๆ</h2>
            </div>
            <div class="searchbar">
                <input type="text" placeholder="ค้นหาเมนู" id="searchword" #sw (keyup.enter)="loadFoodlist(sw.value);">
                <!-- <input type="text" placeholder="ค้นหาเมนู" id="searchword" #sw (keyup)="loadFoodlist(sw.value);"> -->
                <button (click)="loadFoodlist(sw.value);">🔎</button>
            </div>
        </div>
        
        <div class="menubody">
            <div *ngFor="let foods of menu">
                <app-foodbox [food]="foods" (showalert)="showAlert($event);"></app-foodbox>
            </div>
        </div>
        <div class="loading">
            <div class="loader"></div>
            <p>โหลดข้อมูลเมนูอาหารสักครู่</p>
        </div>

    </div>

</div>