<div class="bodypage">
    <app-food-type (typechange)="changeFoodType($event);"></app-food-type>
  
    <div class="menu">
        <div class="menuheading" [ngSwitch]="foodtype">
            <h2 *ngSwitchDefault="'maindish'">อาหารจานหลัก</h2>
            <h2 *ngSwitchCase="'gerefood'">อาหารเกเร</h2>
        </div>
        
        <div class="menubody">
            <div *ngFor="let foods of menu">
            <app-foodbox *ngIf="foods.type == foodtype" [food]="foods"></app-foodbox>
            </div>
        </div>
  
    </div>
</div>