<div class="bodypage">
    <app-food-type (typechange)="changeFoodType($event);"></app-food-type>
  
    <div class="menu">
        <div class="menuheading" [ngSwitch]="foodtype">
            <h2 *ngSwitchDefault="'maindish'">อาหารจานหลัก</h2>
            <h2 *ngSwitchCase="'appetizer'">อาหารทานเล่น</h2>
            <h2 *ngSwitchCase="'dessertanddrink'">ของหวานและเครื่องดื่ม</h2>
            <h2 *ngSwitchCase="'any'">อื่นๆ</h2>
        </div>

        <!-- *ngFor="let foods of menu" -->
        <!-- *ngIf="foods.type == foodtype" -->
        <!-- [food]="foods" -->

        <div class="menubody">
            <div *ngFor="let foods of menu">
                <app-foodbox [food]="foods"></app-foodbox>
            </div>
        </div>
  
    </div>
</div>