@mixin border(){
    border-color: rgba(0, 0, 0, 0.534);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

.deliverybox{
    @include border();
    background-color: rgb(245, 245, 245);
    margin: 2vw 6vw;
    height: max-content;
    padding-bottom: 1vw;
    text-align: center;

    p{
        text-align: start;
        margin: 2vw auto auto 5vw;
    }
}

.deliverybody{
    border-radius: 10px;
    background-color: white;
    display: grid;
    height: 56vh;
    width: 96%;
    grid-template-columns: 60% 40%;
    margin: 1vw auto 1vw auto;

    .deliverycontent{

        .contentheader{
            font-size: 1.2vw;
        }

        table{
            margin: 1vw auto 2vw auto;
            border-collapse: collapse;
            width: 90%;

            th, td{
                border-color: rgba(0, 0, 0, 0.226);
                border-width: 1px;
                border-style: solid;
                padding: 1vw;
            }

            th{ background-color: rgb(255, 247, 221); }
            tr:nth-child(odd){ background-color: rgb(255, 255, 255); }
            tr:nth-child(even){ background-color: rgb(250, 250, 250); }
            tr td:nth-child(1){ text-align: start; }
            tr:hover{ background-color: rgb(210, 210, 210); }
        }       
        
    }

    .deliveryimage{
        display: grid;
        align-content: center;

        img{
            margin-top: 2vw;
            width: 90%;
            height: 40vh;
            animation-name: fade;
            animation-duration: 6s;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes fade {
    0% {opacity: 0}
    30% {opacity: 1}
}