<app-top-bar></app-top-bar>
<div class="deliverybox">
    <h2 class="deliveryheading">คอปเตอร์ช้อป เดลิเวอรี่</h2>
    <p>การจัดส่งของทางร้าน Copter Shop จะมีระยะทางการจัดส่งดังนี้</p>
    <div class="deliverybody">
        <div class="deliverycontent">
            <h3 class="contentheader">เงื่อนไขการจัดส่ง</h3>
            <table>
                <tr>
                    <th>บริเวณ/สถานที่</th>
                    <th>ราคา</th>
                </tr>
                <tr>
                    <td>หน้ามอ หลังมอ สวนดอก</td>
                    <td>ส่งฟรี</td>
                </tr>
                <tr>
                    <td>ภายในตัวเมืองเชียงใหม่</td>
                    <td>100 - 200</td>
                </tr>
                <tr>
                    <td>ภายในภาคเหนือ</td>
                    <td>201 - 400</td>
                </tr>
                <tr>
                    <td>ภายในประเทศไทย</td>
                    <td>401 - 4000</td>
                </tr>
                <tr>
                    <td>ต่างประเทศ</td>
                    <td>4001 - 50000</td>
                </tr>               
            </table>
        </div>
        <div class="deliveryimage">
            <img src={{imageList[imageShow]}} alt="delivery picture" id="image">
        </div>
    </div>    
</div>

