@mixin border(){
    border-color: rgba(0, 0, 0, 0.534);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

.contactbox{
    @include border();
    background-color: rgb(245, 245, 245);
    margin: 2vw 6vw;
    height: max-content;
    padding-bottom: 2vw;
    text-align: center;

    .contactheading{ font-size: 1.6vw; }

    .contactbody{
        background-color: white;
        width: 80vw;
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 1vw 2vw;
        margin: 0 auto;
        border-radius: 10px;

        .textzone{
            padding: 0vw 2vw;
            
            .contactdata{
                text-align: start;
                line-height: 2;
            }
        }

        .imgzone{
            margin: auto 0;

            img{
                width: 90%;
                height: auto;
                border-radius: 10px;
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .contactbox{
        @include border();
        background-color: rgb(245, 245, 245);
        margin: 2vw 6vw;
        height: max-content;
        padding-bottom: 2vw;
        text-align: center;
    
        .contactheading{ font-size: 2.6vw; }
    
        .contactbody{
            background-color: white;
            width: 80vw;
            display: grid;
            grid-template-columns: auto;
            padding: 1vw 2vw;
            margin: 0 auto;
            border-radius: 10px;
    
            .textzone{
                font-size: 1.6vw;
                padding: 0vw 2vw;
                
                .contactdata{
                    text-align: start;
                    line-height: 2;
                }
            }
    
            .imgzone{
                display: flex;
                margin: auto 0;
    
                img{
                    width: 50%;
                    height: auto;
                    border-radius: 10px;
                }
            }
        }
    }
}