<app-top-bar></app-top-bar>
<div class="contactbox">
    <h2 class="contactheading">ติดต่อ Gere Restaurant</h2>
    <div class="contactbody">

        <div class="textzone">
            <h3>ข้อมูลติดต่อ</h3>
            <div class="contactdata">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    ตัวร้านตั้งอยู่หน้ามหาวิทยาลัยเชียงใหม่ เป็นหนึ่งในร้านตามสั่งที่ราคาเป็นมิตรต่อนักศึกษา ตัวร้านเองตั้งอยู่ในตัวเมืองเชียงใหม่
                    มีลักษณะเป็นร้านอาหารตามสั่งที่มีเมนูหลากหลาย โดยมีจุดเด่นเป็นการใช้แชทบอทที่สามารถตอบคำถามและสั่งอาหารแทนการใช้พนักงาน                  
                    ที่สำคัญคือ บอทนี้ใช้ลักษณะการเทรนโมเดลที่สร้างขึ้นโดย "บริษัทบอทน้อย" โดยที่สำคัญคือ            
                </p>
                <ul>
                    <li>สามารถสั่งอาหาร ผ่านทางแชทเพจ</li>
                    <li>จองโต๊ะอาหารและดูสถานะของโต๊ะที่ร้านได้ผ่านแชทเพจ โดยสามารถเข้าไปดูโดยตรงได้ที่เว็บ Gere Restaurant</li>
                    <li>สามารถสั่งอาหารแบบเดริเวอรี่ โดยจุดเด่นสำคัญคือเป็นพนักงานของร้านมาส่งเอง</li>
                    <li>ที่สำคัญคือ สามารถจ่ายเงินผ่านบัญชีธนาธารและส่งสลิปเพื่อยืนยันการจ่ายเงินได้</li>
                </ul>
                <p>📞เบอร์โทร: 098-765-4321</p>
                <p>📧Email: CopterKung@gmail.com</p>
                <p>🌎หรือสั่งอาหารได้ผ่านทางเพจ <a href="https://www.facebook.com/Copters-bot-109923401657031" target="_blank">Gere Restaurant</a></p>
            </div>
        </div>

        <div class="imgzone">
            <img src="assets/map.jpg">
            <img src="https://images.ricardocuisine.com/services/wysiwyg/reouverture-qc/reouverture-QC-2.jpg">
        </div>

    </div>
</div>
