<div class="alertbackground">
    <div class="alertbox">
        <div class="alertheader">
            <h4>{{food.name}}</h4>
            <p (click)="closeAlert();">X</p>
        </div>
        <div class="alertbody">
            <div class="textzone">
                <div class="fooddata">
                    <p class="title">ชื่ออาหาร : </p>
                    <p>{{food.name}}</p>
                    <br>

                    <p class="title">ประเภท : </p>
                    <div [ngSwitch]="food.type">
                        <p *ngSwitchDefault="'maindish'">อาหารจานหลัก</p>
                        <p *ngSwitchCase="'appetizer'">อาหารทานเล่น</p>
                        <p *ngSwitchCase="'dessertanddrink'">ของหวานและเครื่องดื่ม</p>
                        <p *ngSwitchCase="'any'">อื่นๆ</p>
                    </div>
                    <br>

                    <div *ngIf="food.extra > 0; else noextra">
                        <p class="title">ราคาปกติ : </p>
                        <p>{{food.normal}} บาท</p>
                        <br>

                        <p class="title">ราคาพิเศษ : </p>
                        <p>{{food.extra}} บาท</p>
                        <br>
                    </div>

                    <ng-template #noextra>
                        <p class="title">ราคา : </p>
                        <p>{{food.normal}} บาท</p>
                        <br>
                    </ng-template>

                    <p class="title">รายละเอียด : </p>
                    <p>อาหารนี้บ่มีหยังหรอก กินละไม่ตายนะ</p>
                    <br>
                </div>
                <div class="contact">
                    <hr>
                    <a href="https://www.facebook.com/Copters-bot-109923401657031" target="_blank"><button>สั่งได้ที่ Gere Restaurant</button></a>           
                </div>
            </div>
            <div class="imgzone">
                <img src="{{food.picture}}" alt="รูป {{food.name}}">
            </div>
        </div>
    </div>
</div>