@mixin border(){
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

.alertbackground{
    background-color: rgba(0, 0, 0, 0.445);
    transition: 0.5s;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;

    .alertbox{
        @include border();
        background-color: rgb(255, 255, 255);
        width: 80vw;
        margin: 8% auto;    
    
        .alertheader{
            border-radius: 8px;
            display: grid;             
            background-color: whitesmoke;
            height: 2vw;
            text-align: right;
            padding: 0.5vw 1vw;
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.6vw;
            grid-template-columns: auto 2vw;

            h4{
                text-align: center;
                margin: 0;
            }

            p{
                color: rgb(136, 88, 0);
                font-weight: bold;
                margin: 0;
                cursor: pointer;
            }
            p:hover{color: rgb(223, 144, 54);}
        }
    
        .alertbody{
            border-radius: 8px;
            height: max-content;
            padding: 2vw 1vw;
            background-color: white;
            display: grid;
            grid-template-columns: 60% 40%;

            .textzone{
                display: grid;
                grid-template-rows: auto 26%;
                padding: 0vw 2vw;
                font-size: 1.2vw;

                .fooddata{
                    padding-inline: 2vw;

                    .title{
                        font-weight: bold;
                        display: inline;
                        line-height: 2.6vw;
                    }
                     
                    p, div{
                        font-weight: 10;
                        display: inline;
                    }
                }
                
                .contact{
                    text-align: center;
                    a{
                        text-decoration: none;
                        cursor: none;
                        button{
                            @include border();
                            border-radius: 50vw;
                            width: max-content;
                            padding: 1vw 1.6vw;
                            background-color: rgb(255, 191, 72);
                            box-shadow: inset 0 -3em 3em rgb(255, 164, 28);
                            font-size: 1vw;
                        }
                        button:hover{
                            background-color: rgb(236, 154, 0);
                            box-shadow: inset 0 -3em 3em rgb(255, 153, 0);
                            cursor: pointer;
                        }
                    }
                }
            }

            .imgzone{
                margin-inline: auto;
                text-align: center;
                img{
                    @include border();
                    border-radius: 16px;
                    height: 20vw;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

}