<app-top-bar></app-top-bar>

<div class="bodypage">
  <app-food-type (typechange)="changeFoodType($event);"></app-food-type>

  <div class="menu">
    <div class="menuheading" [ngSwitch]="foodtype">
      <h2 *ngSwitchDefault="'maindish'">อาหารจานหลัก</h2>
      <h2 *ngSwitchCase="'gerefood'">อาหารเกเร</h2>
    </div>
    
    <div class="menubody">
      <div *ngFor="let foods of menu">
        <app-foodbox *ngIf="foods.type == foodtype" [food]="foods"></app-foodbox>
      </div>
    </div>

  </div>
</div>


  <!-- <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build</pre>
  </div> -->

<router-outlet></router-outlet>