<app-top-bar></app-top-bar>

<div class="menu">
  <div *ngFor="let food of menu">
    <h3>{{food.name}}</h3>
    <img src={{food.picture}} width="300px" height="150px" style="object-fit: fill;">
  </div>
</div>
  
<app-food-type></app-food-type>

  <!-- <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build</pre>
  </div> -->

<router-outlet></router-outlet>