<app-top-bar></app-top-bar>

<div class="bodypage">
  <app-food-type></app-food-type>

  <div class="menu">
    <div class="menuheading">
      <h2>อาหารจานหลัก</h2>
    </div>
    
    <div class="menubody">
      <app-foodbox *ngFor="let foods of menu" [food]="foods"></app-foodbox>
    </div>
  </div>
</div>

  <!-- <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build</pre>
  </div> -->

<router-outlet></router-outlet>