@mixin border(){
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
}

.foodbox{
    @include border();
    background-color: white;
    border-radius: 32px;
    margin: 1.2vw 1vw;
    padding: 0.2vw;
    height: 20vw;
    width: 20vw;
    text-align: center;
}

.foodname{
    font-size: 1.2vw;
}

img{
    @include border();
    height: 10vw;
    width: 16vw;
    object-fit: fill;
}

button{
    @include border();
    width: 16vw;
    height: 2vw;
    cursor: pointer;
    background-color: rgb(185, 227, 255);
}

button:hover{
    background-color: rgb(154, 215, 255);
}