@mixin border(){
    border-color: rgba(0, 0, 0, 0.534);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

.reservebox{
    @include border();
    background-color: rgb(245, 245, 245);
    margin: 2vw 6vw;
    height: max-content;
    padding-bottom: 1vw;
    text-align: center;

    .reserveheading{ font-size: 1.8vw; }

    .loading{
        text-align: center;
        display: block;
        font-size: 1vw;
        margin-top: 5vw;
        
        .loader{
            margin: 3vw auto;
            border: 1vw solid #f3f3f3;
            border-radius: 50%;
            border-top: 1vw solid #3498db;
            width: 10vw;
            height: 10vw;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
    }

    .reservebody{
        display: none;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        grid-column-gap: 2vw;
    }
    
    .imagedescription{
        @include border();
        margin: 4vw auto 2vw auto;
        height: max-content;
        width: max-content;
        padding: 1vw 4vw;
        background-color: rgb(223, 223, 223);

        h4{ font-size: 1.2vw; }

        .imagedes{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2vw;
            align-items: center;
            font-size: 1vw;
            
            img{
                @include border();
                background-color: white;
                border-radius: 100%;
                padding: 0.4vw;
                width: 5vw;
                height: 5vw;
            }
        }
    }

    .contact{
        text-align: center;
        margin-top: 1vw;
        a{
            text-decoration: none;
            cursor: none;
            button{
                @include border();
                border-radius: 50vw;
                width: max-content;
                padding: 1vw 1.6vw;
                background-color: rgb(255, 212, 133);
                box-shadow: inset 0 -3em 3em rgb(255, 164, 28);
                font-size: 1vw;
            }
            button:hover{
                background-color: rgb(255, 174, 25);
                box-shadow: inset 0 -3em 3em rgb(219, 132, 0);
                cursor: pointer;
            }
        }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 600px) {
    .reservebox{
        @include border();
        background-color: rgb(245, 245, 245);
        margin: 2vw 6vw;
        height: max-content;
        padding-bottom: 1vw;
        text-align: center;
    
        .reserveheading{ font-size: 2.6vw; }
    
        .loading{
            text-align: center;
            display: block;
            font-size: 1vw;
            margin-top: 5vw;
            
            .loader{
                margin: 3vw auto;
                border: 1vw solid #f3f3f3;
                border-radius: 50%;
                border-top: 1vw solid #3498db;
                width: 10vw;
                height: 10vw;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
            }
        }
    
        .reservebody{
            display: none;
            grid-template-columns: auto auto auto;
            justify-content: center;
            grid-column-gap: 2vw;
        }
        
        .imagedescription{
            @include border();
            margin: 4vw auto 2vw auto;
            height: max-content;
            width: max-content;
            padding: 1vw 4vw;
            background-color: rgb(223, 223, 223);
    
            h4{ font-size: 1.2vw; }
    
            .imagedes{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2vw;
                align-items: center;
                font-size: 1vw;
                
                img{
                    @include border();
                    background-color: white;
                    border-radius: 100%;
                    padding: 0.4vw;
                    width: 5vw;
                    height: 5vw;
                }
            }
        }
    
        .contact{
            text-align: center;
            margin-top: 1vw;
            a{
                text-decoration: none;
                cursor: none;
                button{
                    @include border();
                    border-radius: 50vw;
                    width: max-content;
                    padding: 1vw 1.6vw;
                    background-color: rgb(255, 212, 133);
                    box-shadow: inset 0 -3em 3em rgb(255, 164, 28);
                    font-size: 1.6vw;
                }
                button:hover{
                    background-color: rgb(255, 174, 25);
                    box-shadow: inset 0 -3em 3em rgb(219, 132, 0);
                    cursor: pointer;
                }
            }
        }
    }
}