$backgroundcolor: rgb(255, 163, 42);
$textcolor: black;

.menu-container{
    display: grid;
    align-items: center;
    background-color: $backgroundcolor;
    grid-template-columns: 14vw 1fr;
}

.logo{
    text-align: center;
    font-size: 1.2vw;
}

ul{
    display: flex;
    align-items: center;
    padding: 0px;

    li{
        list-style: none;

        a{
            font-weight: bold;
            padding: 0.6vw 2vw;
            margin: 0.2vw 1vw;
            border-radius: 5vw;
            display: block;
            text-decoration: none;
            color: $textcolor;
            font-size: 1vw;
        }

        a:hover{ background-color: rgb(255, 212, 159); }
    }
}