@mixin border(){
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
}

.foodbox{
    @include border();
    background-color: white;
    box-shadow: inset 0 -1em 2em rgb(223, 223, 223);
    border-radius: 32px;
    margin: 1.2vw 1vw;
    padding: 0.2vw;
    height: 20vw;
    width: 20vw;
    text-align: center;

    .foodname{
        font-size: 1.2vw;
    }

    img{
        @include border();
        height: 10vw;
        width: 16vw;
        object-fit: cover;
    }

    p{
        font-size: 1vw;
    }

    button{
        @include border();
        width: 16vw;
        height: 2vw;
        cursor: pointer;
        background-color: rgb(185, 227, 255);
        box-shadow: inset 0 -1em 2em rgb(63, 178, 255);
        font-size: 1vw;
    }
    button:hover{
        background-color: rgb(154, 215, 255);
        box-shadow: inset 0 -1em 2em rgb(11, 138, 223);
    }
}


@media only screen and (max-width: 900px) {
    .foodbox{
        height: 34vw;
        width: 32vw;
        text-align: center;
    
        .foodname{
            font-size: 2vw;
        }
    
        img{
            @include border();
            height: 16vw;
            width: 30vw;
            object-fit: cover;
        }
    
        p{
            font-size: 2vw;
            margin: 1.4vw 0vw;
        }
    
        button{
            @include border();
            width: 90%;
            height: 4vw;
            cursor: pointer;
            background-color: rgb(185, 227, 255);
            box-shadow: inset 0 -1em 2em rgb(63, 178, 255);
            font-size: 1.6vw;
        }
        button:hover{
            background-color: rgb(154, 215, 255);
            box-shadow: inset 0 -1em 2em rgb(11, 138, 223);
        }
    }
}


@media only screen and (max-width: 500px) {
    .foodbox{
        border-radius: 10px;
        height: 40vw;
        width: 38vw;
        text-align: center;
    
        .foodname{
            font-size: 2.4vw;
            margin: 1.6vw 0;
        }
    
        img{
            @include border();
            height: 18vw;
            width: 34vw;
            object-fit: cover;
        }
    
        p{
            font-size: 2vw;
            margin: 1.5vw 0vw;
        }
    
        button{
            @include border();
            width: 90%;
            height: 4vw;
            cursor: pointer;
            background-color: rgb(185, 227, 255);
            box-shadow: inset 0 -1em 2em rgb(63, 178, 255);
            font-size: 1.6vw;
        }
        button:hover{
            background-color: rgb(154, 215, 255);
            box-shadow: inset 0 -1em 2em rgb(11, 138, 223);
        }
    }
}